<!DOCTYPE html>
<html lang="">
<head>
    <title>Sign In</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="signInForm">
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" id="username" name="username" required></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr>

    </table>
    <button type="submit">Sign In</button>
</form>
<script>
    $(document).ready(function () {
        $("#signInForm").submit(function (event) {
            event.preventDefault();

            var username = $("#username").val();
            var password = $("#password").val();

            $.ajax({
                type: "POST",
                url: "/api/sign/in",
                data: JSON.stringify({username: username, password: password}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                   alert("Sign-in successful!")
                },
                error: function (xhr, status, error) {
                },
            })
        })
    })
</script>
</body>
</html>
